aiohttp==3.9.3
asyncio==3.4.3
typing-extensions==4.9.0
uvicorn
fastapi
pymilvus==2.4.0
pymilvus[model]
numpy==1.26.2
requests==2.31.0
ollama
FlagEmbedding==0.3.1
langchain
llama-index
langfuse
wandb
torch
transformers